<br>
<br>
<br>
<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <h2>
        <img src="../../assets/logo.png" alt="" width="80px" height="80px" />
      </h2>
      <p>
        On the cutting edge, all technological information in one place.
      </p>
      <p>© 2020 ISC masters, All rights reserved</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
      <h4>Options</h4>
      <div class="col-md-6">
        <ul class="list">
          <li>
            <a [routerLink]="['/about']" routerLinkActive="router-link-active"
              >About Us</a
            >
          </li>
          <li>
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
              >Contact Us</a
            >
          </li>
          <li><a href="javascript:void(0)">Terms & Condition</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 footer-social animated fadeInDown">
      <h4>Follow Us</h4>
      <ul>
        <li>
          <a href="javascript:void(0)"
            ><img src="../../assets/fb.png" width="30px" height="30px"
          /></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ><img src="../../assets/twitter.png" width="30px" height="30px"
          /></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ><img src="../../assets/ig.png" width="30px" height="30px"
          /></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ><img src="../../assets/wa.png" width="30px" height="30px"
          /></a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
      <h4>Search...</h4>
      <p>
        Let´s go! Find the best equipment for your necesities! All in just one
        pleace.
      </p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." />
          <button
            mat-raised-button
            color="warn"
            matBadge="+"
            matBadgePosition="after"
          >
            Go!
          </button>
      </div>
    </div>
  </div>
</footer>
<section style="text-align: center; margin: 10px auto;">
  <p>Designed by Richie Inc. <i class="fa fa-registered"></i></p>
</section>
