.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #3c3d41;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-item {
  color: azure;
  margin-top: 25px;
  margin-bottom: 25px;
}