<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h2 class="card-title mt-3 text-center">Log in</h2>
    <p class="text-center">Log in for more features!</p>
    <form id="contactForm" [formGroup]="form" (ngSubmit)="submit()">
      <span class="material-icons">
        account_circle
      </span>
      &nbsp;
      <span class="material-icons">
        mail
      </span>
      &nbsp;
      <mat-form-field>
        <input
          matInput
          placeholder="User E-mail"
          class="form-control"
          name="email"
          formControlName="email"
        />
      </mat-form-field>
      <br />
      <span class="material-icons">
        vpn_key
      </span>
      &nbsp;
      <span class="material-icons">
        lock
      </span>
      &nbsp;
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          class="form-control"
          name="password"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
      <br />
      <button
        id="btnSubmit"
        type="submit"
        class="btn btn-block btn-outline-success"
      >
        Submit
      </button>
    </form>
  </article>
</div>
