<mat-toolbar><span class="material-icons">info</span>&nbsp; About Us</mat-toolbar><br />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/logo.png" alt="" width="200px" height="200px" />
      <br /><br />
      <h2>On the cutting edge, all technological information in one place.</h2>
    </div>
    <div class="col-md-4">
      <h1>Mission</h1>
      <hr />
      <ul>
        <li>
          Investigar y recopilar información de dispositivos de todo el mundo.
        </li>
        <li>Presentar de manera objetiva la información obtenida.</li>
        <li>
          Ofrecer a los usuarios una página donde puedan comparar télefonos de
          diferentes marcas.
        </li>
        <li>
          Realizar una página que sea accesible para personas con problemas
          visuales.
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h1>Vision</h1>
      <hr />
      <p>
        Lo que nosotros queremos lograr con nuestra página es, tener un lugar al
        alcance de nuestras manos donde tanto nosotros como nuestros usuarios
        encontremos la información importante de los celulares más nuevos y de
        esta manera poder realizar una comparativa entre estos.
      </p>
    </div>
  </div>
  <hr />
  <mat-toolbar>Meet our team...</mat-toolbar><br />
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('../../assets/obi.png');"
          ></div>
          <mat-card-title>Obama</mat-card-title>
          <mat-card-subtitle>Version Manager</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/obama.jpg" />
        <mat-card-content>
          <p>
            David Isaí Zarate Robles
            <br />
            smitty@no1.com
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button>CONTACT</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('../../assets/figs.png');"
          ></div>
          <mat-card-title>Figue</mat-card-title>
          <mat-card-subtitle>Programmer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/figue.jpeg" />
        <mat-card-content>
          <p>
            Eric Figueroa García
            <br />
            smitty@no1.com
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button>CONTACT</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('../../assets/richt.png');"
          ></div>
          <mat-card-title>Richie</mat-card-title>
          <mat-card-subtitle>Programmer & Designer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/richie.jpeg" />
        <mat-card-content>
          <p>
            Ricardo Carrillo Villalpando
            <br />
            smitty@no1.com
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button>CONTACT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('../../assets/charls.png');"
          ></div>
          <mat-card-title>Charlie</mat-card-title>
          <mat-card-subtitle>Data Base Manager</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/charlie.jpg" />
        <mat-card-content>
          <p>
            Carlos García Gutierrez
            <br />
            smitty@no1.com
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button>CONTACT</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('../../assets/logo.png');"
          ></div>
          <mat-card-title>Smart Brawl</mat-card-title>
          <mat-card-subtitle>Best Company Ever</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/logo.png" />
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button>CONTACT</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('../../assets/cuts.png');"
          ></div>
          <mat-card-title>Cortes</mat-card-title>
          <mat-card-subtitle>Statistics Manager & Programmer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/cortes.jpg" />
        <mat-card-content>
          <p>
            David Francisco Cortes Pérez
            <br />
            smitty@no1.com
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button>CONTACT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
